
.navbar{
    background-color: #d9ff6e;
}
.quem-somos{
    background-color: #ccccb2;
}
.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}
.historia-1{
    background-color: #b899ff;
}
.bgfooter{
    background-color: black;
}